body{
  background-color: white;
}

.container {
  background-color: grey;
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  justify-content: center;  /* Center content vertically */
  align-items: center;
  height: 65vh;
  width: 70vw;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 5%;
  border-color: black;
  font-size: larger;
  font-weight: bolder;
  margin: auto;
}

.container button {
  flex-direction: row;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px; 
  background-color: green; /* Add rounded corners to buttons */
  border-radius: 1rem;
  border-color: black;
}
.container button:hover{
  background-color:darkgreen;
}
button{
  flex-direction: row;
}

#delete{
  background-color: red;
}
#delete:hover{
  background-color: rgb(131, 0, 0);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5%;
  font-size: 2rem;
  font-weight: bolder;
}
