{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{%static 'bio/style.css' %}">
</head>
<body>
    <a href="{% url 'note:index' %}" style="color: black;" style="font-weight: bold;"> 
        <h1> Secure Note Keeper </h1>
    </a>
    <section class="image-gallery">
        <figure class="image-container">
        <a href="">
            <img src="{% get_media_prefix %}bio/mintesnot.png" alt="Mintesnot">
        </a>
            <figcaption>
                <h2>Mintesnot Afework</h2>
                <ul>
                    <li>Hacker</li>
                    <li>Cyber Security Engineer</li>
                    <li>DevOp</li>
                </ul>
            </figcaption>
        </figure>
        <figure class="image-container">
        <a href="">
            <img src= "{% get_media_prefix %}bio/bishaw.png" alt="Bishaw">
        </a>
            <figcaption>
                <h2>Bishaw Teshema</h2>
                <ul>
                    <li>Cyber Security Engineer</li>
                    <li>SoftWare Developer</li>
                    <li>Front End Expert</li>
                </ul>
            </figcaption>
        </figure>

        <figure class="image-container">
        <a href="">
            <img src="{% get_media_prefix %}bio/mike.png" alt="Mike">
        </a>
            <figcaption>
                <h2>Mikyas Sisay</h2>
                <ul>
                    <li>Cyber Security Engineer</li>
                    <li>Animal Dad</li>
                    <li>Back End Expert</li>
                </ul>
            </figcaption>
        </figure>
        </a>
    </section>
</body>
</html>
